
/* styles.css */
body {
    margin: 20mm 15mm;
    font-family: "Angsana New", Arial, sans-serif;
    border: 2px solid #000000; /* Add a border around the content */
    padding: 10px; /* Add padding to create space between the content and the border */
}

h1 {
    color: #333;
    background-color: #cf2323;
    padding: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.important-text {
    font-weight: bold;
    color: red;
}

.underHR {
    color: rgb(0, 0, 0);
}

.twoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border: #ad2424;
   

}

.threeGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border: #ad2424;

}



.grid-item {
    /* Add styling for each grid item here */
    border: 1px solid #000; /* Example: Add a border for demonstration */
    padding: 2px; /* Add padding or other styles as desired */
}