<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
        body {
    font-family: 'Poppins'; /* Change 'Arial' to your desired font family */
  }
      .topText {
        margin: 10px 10px 10px 10px; /* You can adjust the margin value as needed */
      }
      hr.solid {
  border-top: 3px solid #000000;
}
hr.dashed {
  border-top: 3px dashed #000000;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr; /* Two columns with equal width */
    gap: 2px; /* Adjust the gap between columns if needed */
    margin: 10px 10px 10px 10px;
}

.grid-item {
    /* Add styling for each grid item here */
    border: 1px solid #000; /* Example: Add a border for demonstration */
    padding: 2px; /* Add padding or other styles as desired */
}
.grid-itemOutside {
    /* Add styling for each grid item here */
    border: 1px solid #ffffff; /* Example: Add a border for demonstration */
    padding: 2px; /* Add padding or other styles as desired */
}
.twoGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}
.threeGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.twoGridSpecial{
    display: grid;
    grid-template-columns: 2fr 40px;
}
.twoCheck {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
     
    </style>
    <title></title>
  </head>
  <body style="font-size: small;">

    <!-- <%- body %> -->

    <div class="topText">
            <p>
            ใบกรอกประวัติผู้บริจาคโลหิต
            <br>หน่วยคลังเลือดและเวชศาสตร์บรอการโลหิต</br>
            </p>
            <hr class="solid">
    </div>

    <div class="grid-container">
        <div class="grid-itemOutside">
            <div style="text-align: center; font-weight: bold;">
                <br>
                <p>โรงพยาบาลสงขลานครินทร์</p>
            </div>
            <div class="grid-item">
                <div style="text-align: center; font-weight: bold;">
                    <br>
                    <p>สำหรับผู้บริจาคโลหิตกรอก</p>
                </div>    
                <div class="twoGrid">
                    <div>
                        <p>(H.N:&nbsp;....................)</p>
                    </div>
                    <div>
                        <p>วันที่:&nbsp;....................</p>
                    </div>
                </div>
                <div class="twoGrid">
                    <div>
                        <p>ชื่อ:&nbsp;.................................</p>
                    </div>
                </div>
                <div class="threeGrid">
                    <div>
                        <p>วันเกิด:&nbsp;..........</p>
                    </div>
                    <div>
                        <p>อายุ:&nbsp;..........</p>
                    </div>
                    <div>
                        <p>หมุ่เลือด:&nbsp;..........</p>
                    </div>

                </div>
                <div>
                    <p>เลขที่บัตรประจำคัวประชาชน:&nbsp;...............</p>
                </div>
                <div>
                    <p>ที่อยู่ปัจจุบัน:&nbsp;.............................</p>
                </div>
                <div class="twoGrid">
                    <div>
                        <p>โทรศัพท์:&nbsp;095-4401165</p>   
                    </div>
                    <div class="twoGrid">
                        <p>ศาสนา:&nbsp;</p>
                        <p>อาชีพ:&nbsp;</p>
                    </div>
                </div>
                <div class="twoGrid">
                    <div>
                        <p>น้ำหนัก:&nbsp;..........&nbsp;ก.ก.</p>
                    </div>
                    <div>
                        <p>E-mail:&nbsp;.............</p>
                    </div>

                </div>
                <div>
                    <div>
                        <u>ข้อมูลผู้ติดต่อฉุกเฉิน&nbsp;</u>&nbsp;<p>ชื่อ-สกุล:&nbsp;laurenn Isenbreg&nbsp;โทรศัพท์:&nbsp;095-4401165</p>
                    </div>
                </div>
                <div>
                    <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                    <label for="vehicle1">บริจาคโลหิตครั้งแรก</label><br>
                    <input type="checkbox" id="secondDonate" name="เคบบริจาค/ครั้งล่าสุด" value="secondDonate">
                    <label for="vehicle1">เคยบริจาค/ครั้งล่าสุดเป็น</label>
                    <input type="checkbox" id="Hemo" name="บริจาคโลหิตทั่วไป" value="Hemo">
                    <label for="vehicle1">บริจาคโลหิตทั่วไป</label>
                    <input type="checkbox" id="plat" name="บริจาคเกล็ดโลหิต" value="plat">
                    <label for="vehicle1">บริจาคเกล็ดโลหิต</label>
                    <input type="checkbox" id="etc" name="อื่นๆ......" value="etc">
                    <label for="vehicle1">อื่นๆ......</label>
                </div>
                <div>
                    <p>บริจาคครั้งล่าสุด:&nbsp;
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">ไม่มีปัญหา</label><br>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">มีปัญหา</label>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">เป็นลม</label>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">รอยเจาะเขียวช้ำ</label>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">เส้นโลหิตหายาก</label>
                    </p>
                </div>
                <div>
                    <input type="checkbox" id="problemDonate" name="ได้รับแจ้งให้งดบริจาคโลหิตชั่วคราวเนื่องจาก" value="problemDonate">
                    <label for="vehicle1">ได้รับแจ้งให้งดบริจาคโลหิตชั่วคราวเนื่องจาก:&nbsp;........................</label>
                </div>
                <div>
                    <p>หากผลตรวจโลหิตผิดปกติต้องการให้แจ้งทาง:&nbsp;<br>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">จดหมาย</label>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">โทรศัพท์</label>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">E-mail</label>
                    </p>

                </div>
                <div>
                    <p style="font-weight: bold;"><u>วัตถุประสงค์ของการบริจาคโลหิต</u></p>
                    <div>
                        <div>
                            <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                            <label for="vehicle1">บริจาคโลหิตทั่วไป ไม่ระบุชื่อ-สกุล</label><br>
                        </div>
                        <div>
                            <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                            <label for="vehicle1">บริจาคทดแทน&nbsp;(ให้ผู้ป่วยชื่อ-สกุล:&nbsp;...................)</label><br>
                        </div>
                        <div>
                            <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                            <label for="vehicle1">บริจาคเกล็ดโลหิต</label><br>
                        </div>
                    </div>
                    
                </div>
                <div>
                    <br>
                    <hr class="dashed">
                    <div>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1" style="font-size: small;">Autologous blood (บริจาคเพื่อใช้ในการผ่าตัดของตัวเองเท่านั้น)</label>
                        <div style="margin-left: 20px;">
                            <div>
                                <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                                <label for="vehicle1">unit 1</label>
                                <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                                <label for="vehicle1">unit 2</label>
                            </div> 
                        </div>
                    </div>
                    <div>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">Direct donation (บริจาคเฉพาะเจาะจงให้ผู้ป่วยที่ระบุเท่านั้น)</label><br>
                        <div class="twoGrid">
                            <div>
                                <p>ผู้ป่วยชื่อ-สกุล:&nbsp;..............</p>
                            </div>
                            <div>
                                <p>HN:&nbsp;............&nbsp;หอผู้ป่วย:&nbsp;............</p>
                            </div>
                        </div>
                        <div>
                            <p>ใช้วันที่:&nbsp;..........&nbsp;ความสัมพันธ์กับผู้ป่วย:&nbsp;..........</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="grid-itemOutside">
            <div>
                <div style="text-align: center; font-weight: bold;">
                <br>
                <p>ติด barcode และ Antigen</p>
            </div>
            </div>
            <div class="grid-item">
                <div style="text-align: center; font-weight: bold;">
                    <br>
                    <p>สำหรับแพทย์และเจ้าหน้าที่</p>
                </div>
                <div>
                    <p>ความดันโลหิต:&nbsp;.....&nbsp;ชีพจร:&nbsp;.....</p>
                </div>
                <div>
                    <p>Temp:&nbsp;.....&nbsp;C</p>
                </div>
                <div>
                    <p>ประวัติ&nbsp;
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">ได้</label>&nbsp;
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">ไม่ได้ ข้อ......</label>&nbsp;
                    </p>
                </div>
                <div>
                    <p>CuSO4&nbsp;
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">ผ่าน</label>&nbsp;
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">ไม่ผ่าน</label><br>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">Hb=....g/dl</label>&nbsp;
                    </p>
                </div>
                <div>
                    <p>เจ้าหน้าที่</p>
                </div>
                <div>
                    <p>ประวัติการบริจาคโลหิต&nbsp;ครั้งที่</p>
                </div>
                <div>
                    <p>หมายเลขบัตร</p>
                </div>
                <div>
                    บริจาคครั้งที่
                </div>
                <div>
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">ลืมบัตร</label>
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">บัตรหาย</label><br>
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">ขอบัตรใหม่</label>
                </div>
                <div>
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">รับประทานอาหารมาแล้ว</label>&nbsp;
                </div>
                <div>
                    <br>
                    <p><u>ถุงโลหิต</u>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">350</label>&nbsp;
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">450T</label><br>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">450Q</label><br>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">Plateletpheresis</label>&nbsp;
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">อื่นๆ...</label>
                    </p>
                </div>
                <div class="twoGrid">
                    <p>ผู้ลงทะเบียน</p>
                    <p>ผู้เตรียมถุง</p>
                </div>
                <div class="twoGrid">
                    <p>ผู้เจาะ</p>
                    <p>เวลา</p>
                </div>
                <div class="twoGrid">
                    <p>ผู้ off</p>
                    <p>เวลา</p>
                </div>
                <div>
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">Under volume</label>&nbsp;
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">High volume</label><br>
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">Fail venipuncture</label>&nbsp;
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">Discarded</label>&nbsp;
                    
                </div>
                <div>
                    <hr class="dashed">
                </div>
                <div>
                    <div style="font-size: small;">
                        Complication
                            <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                            <label for="vehicle1">NO</label>&nbsp;
                            <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                            <label for="vehicle1">code....</label>
                    </div>
                </div>
                <div>
                    <div style="font-size: small;">
                        level
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">mild</label>&nbsp;
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">moderate</label>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">severe</label>
                    </div>
                </div>
                <div>
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">หน้ามืด เป็นลม</label>
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">ชักเกร็ง</label>
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">อื่นๆ..</label>
                </div>
                <div>
                    <div style="font-size: small;">
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">ปรับศีรษะต่ำ ยกเท้าสูง</label>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">ดมแอมโมเนีย</label><br>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">เช็ดหน้าด้วยผ้าเย็น</label>
                        <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                        <label for="vehicle1">ดื่มน้ำเปล่าว/น้ำหวาน</label>
                    </div>
                  
                </div>
                <div style="font-size: small;">
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">IV 0.9% NSS&nbsp;ml</label><br>
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">v/s ก่อนกลับ BP&nbsp;mmHg PR&nbsp;min</label><br>
                    <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                    <label for="vehicle1">ส่ง ER</label>
                </div>
                

                
            </div>
            


        </div>



    </div>

    <br><div style="page-break-after:always;"></div>
    <div>
        new
    </div>

    <p class="'topText">
      Helll
      <p>ID: <%= body.id %></p>
    </p>

    
  </body>
</html>