<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Niramit:wght@200&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
      <style>
         body {
         margin: 20mm 15mm;
         font-family: 'Niramit', sans-serif;
         border: 2px solid #000000; /* Add a border around the content */
         padding: 10px; /* Add padding to create space between the content and the border */
         }
         h1 {
         color: #333;
         background-color: #cf2323;
         padding: 10px;
         }
         p {
         font-size: 16px;
         line-height: 1.5;
         margin-bottom: 10px;
         }
         .important-text {
         font-weight: bold;
         color: red;
         }
         .underHR {
         color: rgb(0, 0, 0);
         }
         .twoGrid {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 10px;
         border: #ad2424;
         }
         .twoGridTT {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 2px;
         border: #ad2424;
         }
         .threeGrid {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 10px;
         border: #ad2424;
         }
         .fiveGrid {
         display: grid;
         grid-template-columns: repeat(5, 1fr);
         gap: 2px;
         border: #ad2424;
         }
         .grid-item {
         /* Add styling for each grid item here */
         border: 1px solid #000; /* Example: Add a border for demonstration */
         padding: 2px; /* Add padding or other styles as desired */
         }
         .row-layout {
         display: flex;
         flex-direction: row;
         /* Optional: Add some spacing between child elements */
         gap: 10px; /* You can adjust the gap as needed */
         }
         hr.solid {
          border-top: 3px solid #000000;
        }
      </style>
      <title></title>
   </head>
   <body style="font-size: smaller;">
      <div>
         <div>
            <div style="font-weight: bold;">
               ใบกรอกประวัติผู้บริจาคโลหิต<br>
               หน่วยคลังเลือดและเวชศาสตร์บริการโลหิต
               <hr class="solid">
            </div>
         </div>
      </div>
      <div class="twoGridTT">
         <div style="text-align: center; font-weight: bold;">
            <br>
            โรงพยาบาลสงขลานครินทร์
         </div>
         <div style="border: 1px solid black; text-align: center;">
            <br>
            ติด Barcode และ Antigen
            <br>
            <br>
         </div>
      </div>
      <div style="margin-top: 2px;">
         <div class="twoGridTT">
            <div class="grid-item">
               <div style="text-align: center; font-weight: bold;">
                  <u>สำหรับผุ้บริจาคโลหิตกรอกข้อมูล</u>
               </div>
               <div class="twoGrid">
                  <div>
                     (H.N)
                  </div>
                  <div>
                     วันที่
                  </div>
               </div>
               <div>
                  ชื่อ
               </div>
               <div>
                  ชื่อ-นามสกุลเดิม(ถ้ามี)
               </div>
               <div class="threeGrid">
                  <div>
                     วัน/เดือน/ปีเกิด
                  </div>
                  <div>
                     อายุ
                  </div>
                  <div>
                     หมู่โลหิต
                  </div>
               </div>
               <div>
                  เลขบัตรประจำตัวประชาชน
               </div>
               <div>
                  ที่อยู่ปัจจุบัน
               </div>
               <div class="threeGrid">
                  <div>
                     โทรศัพท์มือถือ
                  </div>
                  <div>
                     ศาสนา
                  </div>
                  <div>
                     อาชีพ
                  </div>
               </div>
               <div class="twoGrid">
                  <div>
                     น้ำหนัก
                  </div>
                  <div>
                     E-mail
                  </div>
               </div>
               <div>
                  <div class="row-layout">
                     <u style="font-weight: bold;">ข้อมูลผู้ติดต่อกรณีฉุกเฉิน</u>
                     <div class="twoGrid">
                        <div>ชื่อ-นามสกุล</div>
                        <div>โทรศัพท์</div>
                     </div>
                  </div>
               </div>
               <div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">บริจาคโลหิตครั้งแรก</label>
                  </div>
                  <div class="threeGrid" style="font-size: x-small;">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">เคยบริจาคครั้งล่าสุด</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">บริจาคโลหิตทั่วไป</label><br>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">บริจาคเกล็ดโลหิต</label><br>
                     </div>
                  </div>
                  <div class="threeGrid">
                     <div>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">อื่นๆ</label><br>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="row-layout" style="font-size: x-small;">
                     บริจาคครั้งล่าสุด
                     <div class="twoGrid">
                        <div>
                           <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                           <label for="vehicle1">ไม่มีปัญหา</label>
                        </div>
                     </div>
                  </div>
                  <div class="fiveGrid" style="font-size: x-small;">
                     <div></div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">มีปํญหา</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">เป็นลม</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">รอยเจาะเขียว</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">หาเส้นยาก</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">ได้รับแจ้งให้งดบริจาคโลหิตชั่วคราวเรื่องจาก</label>
                  </div>
               </div>
               <div>
                  <div class="row-layout" style="font-size: xx-small;">
                     <u style="font-weight: bold;">หากผลตรวจโลหิตผิดปกติต้องการให้แจ้งทาง</u>
                     <div class="threeGrid">
                        <div>
                           <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                           <label for="vehicle1">จดหมาย</label>
                        </div>
                        <div>
                           <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                           <label for="vehicle1">โทรศัพท์</label>
                        </div>
                        <div>
                           <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                           <label for="vehicle1">E-mail</label>
                        </div>
                     </div>
                  </div>
               </div>
               <div>
                  <br>
               </div>
               <div>
                  <div style="font-weight: bold; font-size: medium;">
                     <u>วัตถุประสงค์ของการบริจาคโลหิต</u>
                  </div>
               </div>
               <div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label
                        for="vehicle1">บริจาคโลหิตทั่วไป ไม่ระบุชื่อ-สกุลผุ้ป่วย</label>
                  </div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">บริจาคโทดแทน (ให้ผู้ป่วยชื่อ-สกุล)</label>
                  </div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">บริจาคเกล็ดโลหิต</label>
                  </div>
               </div>
               <div>
                  <hr class="solid">
               </div>
               <div>
                  <div class="row-layout">
                     <div >
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1" style="font-size: xx-small;">Autologous blood (บริจาคเพื่อใช้ในการผ่าตัดของตัวเองเท่านั้น)</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">unit1</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">unit2</label>
                     </div>
                  </div>
               </div>
               <div>
                  <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                  <label for="vehicle1">Direct donation (บริจาคเฉพาะเจาะจงให้ผู้ป่วยที่ระบุเท่านั้น)</label>
               </div>
               <div class="threeGrid">
                  <div>
                     ผู้ป่วยชื่อ-สกุล
                  </div>
                  <div>
                     H.N
                  </div>
                  <div>
                     หอผู้ป่วย
                  </div>
               </div>
               <div class="twoGrid">
                  <div>
                     ใช้วันที่
                  </div>
                  <div>
                     ความสัมพันธ์กับผู้ป่วย
                  </div>
               </div>
            </div>
            <div class="grid-item">
               <div>
                  <div style="text-align: center; font-weight: bold;">
                     <u>สำหรับผุ้บริจาคโลหิตกรอกข้อมูล</u>
                  </div>
               </div>
               <div class="twoGrid">
                  <div>
                     ความดันโลหิต
                  </div>
                  <div>
                     ชีพจร
                  </div>
               </div>
               <div>
                  Temp
               </div>
               <div>
                  <div class="row-layout">
                     <div>
                        ประวัติ
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ได้</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ไม่ได้ ข้อ</label>
                     </div>
                  </div>
               </div>
               <div>
                  แพทย์ผู้ตรวจ/เจ้าหน้าที่
               </div>
               <div>
                  <br>
                  <div class="row-layout">
                     <div>
                        CuSO4
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ผ่าน</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ไม่ผ่าน</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">Hb = </label>
                     </div>
                  </div>
               </div>
               <div>
                  เจ้าหน้าที่
               </div>
               <div>
                  ประวัติการบริจาคโลหิต ครั้งที่
               </div>
               <div>
                  หมายเลขบัตร
               </div>
               <div>
                  บริจาคครั้งที่แรกที่
               </div>
               <div>
                  <div class="row-layout">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ลืมบัตร</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">บัตรหาย</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ขอบัตรใหม่</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">รับประทานอาหาร/อาหารว่างก่อนเจาะ</label>
                  </div>
               </div>
               <div>
                  <br>
                  <div class="row-layout">
                     <div>
                        <u>ถุงโลหิต</u>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">350</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">450T</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">450Q</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="row-layout">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">Platepheresis</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">อื่นๆ</label>
                     </div>
                  </div>
               </div>
               <div class="twoGrid">
                  <div>
                     ผู้ลงทะเบียน
                  </div>
                  <div>
                     ผู้เตรียมถุง
                  </div>
               </div>
               <div>
                  <br>
                  <div class="twoGrid">
                     <div>
                        ผู้เจาะ
                     </div>
                     <div>
                        เวลา
                     </div>
                  </div>
               </div>
               <div class="twoGrid">
                  <div>
                     ผู้ off
                  </div>
                  <div>
                     เวลา
                  </div>
               </div>
               <div class="twoGrid">
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">Under volume</label>
                  </div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">High Volume</label>
                  </div>
               </div>
               <div class="twoGrid">
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">Fail venipuncture</label>
                  </div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">Discarded</label>
                  </div>
               </div>
               <div>
                  <hr class="solid">
               </div>
               <div>
                  <div class="row-layout">
                     <div>
                        Complication
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">NO</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">code</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="row-layout" style="font-size: x-small;">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">level</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">mild</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">moderate</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">severe</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="row-layout">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">หน้ามืด เป็นลม</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ชักเกร็ง
                        </label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">อื่นๆ</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="row-layout">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ปรับศีรษะต่ำ ยกเท้าสูง</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ดมแอมโมเนีย</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">เช็ดหน้าด้วยผ้าเย็น</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">ดื่มน้ำเปล่าว/หวาน</label>
                  </div>
               </div>
               <div>
                  <div style="font-size: small;">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">IV 0.9% NSS</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div style="font-size: small;">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">v/s ก่อนกลับ BP........mmHg PR.....min</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div style="font-size: small;">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ส่ง ER</label>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>