<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Niramit:wght@200&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
      <style>
         body {
         margin: 20mm 15mm;
         /* font-family: 'Niramit', sans-serif; */
         font-family: "Angsana New", Arial, sans-serif;
         border: 2px solid #ffffff; /* Add a border around the content */
         padding: 10px; /* Add padding to create space between the content and the border */
         }
         h1 {
         color: #333;
         background-color: #cf2323;
         padding: 10px;
         }
         p {
         font-size: 12px;
         line-height: 1;
         margin-bottom: 10px;
         }
         .important-text {
         font-weight: bold;
         color: red;
         }
         .underHR {
         color: rgb(0, 0, 0);
         }
         .twoGrid {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 10px;
         border: #ad2424;
         }
         .twoGridTT {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 2px;
         border: #ad2424;
         }
         .threeGrid {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 10px;
         border: #ad2424;
         }
         .fiveGrid {
         display: grid;
         grid-template-columns: repeat(5, 1fr);
         gap: 2px;
         border: #ad2424;
         }
         .grid-item {
         /* Add styling for each grid item here */
         border: 1px solid #000; /* Example: Add a border for demonstration */
         padding: 2px; /* Add padding or other styles as desired */
         }
         .row-layout {
         display: flex;
         flex-direction: row;
         /* Optional: Add some spacing between child elements */
         gap: 10px; /* You can adjust the gap as needed */
         }
         hr.solid {
          border-top: 3px solid #000000;
        }
      </style>
      <title></title>
   </head>
   <body style="font-size: smaller;">

    <div>
<div>
         <div>
            <p style="font-weight: bold;font-size: small;">
               ใบกรอกประวัติผู้บริจาคโลหิต<br>
               หน่วยคลังเลือดและเวชศาสตร์บริการโลหิต
               <hr class="solid">
            </p>
         </div>
      </div>
      <div class="twoGridTT">
         <p style="text-align: center; font-weight: bold;">
            <br>
            โรงพยาบาลสงขลานครินทร์
         </p>
         <div style="border: 1px solid black; text-align: center;">
            <br>
            ติด Barcode และ Antigen
            <br>
            <br>
         </div>
      </div>
      <div style="margin-top: 2px;">
         <div class="twoGridTT">
            <div class="grid-item">
               <p style="text-align: center; font-weight: bold;">
                  <u>สำหรับผุ้บริจาคโลหิตกรอกข้อมูล</u>
               </p>
               <div class="twoGrid">
                  <p>
                     (H.N)
                  </p>
                  <p>
                     วันที่
                  </p>
               </div>
               <p>
                  ชื่อ
               </p>
               <p>
                  ชื่อ-นามสกุลเดิม(ถ้ามี)
               </p>
               <div class="threeGrid">
                  <p>
                     วัน/เดือน/ปีเกิด
                  </p>
                  <p>
                     อายุ
                  </p>
                  <p>
                     หมู่โลหิต
                  </p>
               </div>
               <p>
                  เลขบัตรประจำตัวประชาชน
               </p>
               <p>
                  ที่อยู่ปัจจุบัน
               </p>
               <div class="threeGrid">
                  <p>
                     โทรศัพท์มือถือ
                  </p>
                  <p>
                     ศาสนา
                  </p>
                  <p>
                     อาชีพ
                  </p>
               </div>
               <div class="twoGrid">
                  <p>
                     น้ำหนัก
                  </p>
                  <p>
                     E-mail
                  </p>
               </div>
               <div>
                  <div class="row-layout">
                     <u style="font-weight: bold;">ข้อมูลผู้ติดต่อกรณีฉุกเฉิน</u>
                     <div class="twoGrid">
                        <p>ชื่อ-นามสกุล</p>
                        <p>โทรศัพท์</p>
                     </div>
                  </div>
               </div>
               <div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">บริจาคโลหิตครั้งแรก</label>
                  </div>
                  <div class="threeGrid" style="font-size: x-small;">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">เคยบริจาคครั้งล่าสุด</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">บริจาคโลหิตทั่วไป</label><br>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">บริจาคเกล็ดโลหิต</label><br>
                     </div>
                  </div>
                  <div class="threeGrid">
                     <div>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">อื่นๆ</label><br>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="row-layout" style="font-size: x-small;">
                     บริจาคครั้งล่าสุด
                     <div class="twoGrid">
                        <div>
                           <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                           <label for="vehicle1">ไม่มีปัญหา</label>
                        </div>
                     </div>
                  </div>
                  <div class="fiveGrid" style="font-size: x-small;">
                     <div></div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">มีปํญหา</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">เป็นลม</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">รอยเจาะเขียว</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">หาเส้นยาก</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">ได้รับแจ้งให้งดบริจาคโลหิตชั่วคราวเรื่องจาก</label>
                  </div>
               </div>
               <div>
                  <div class="row-layout" style="font-size: xx-small;">
                     <u style="font-weight: bold;">หากผลตรวจโลหิตผิดปกติต้องการให้แจ้งทาง</u>
                     <div class="threeGrid">
                        <div>
                           <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                           <label for="vehicle1">จดหมาย</label>
                        </div>
                        <div>
                           <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                           <label for="vehicle1">โทรศัพท์</label>
                        </div>
                        <div>
                           <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                           <label for="vehicle1">E-mail</label>
                        </div>
                     </div>
                  </div>
               </div>
               <div>
                  <br>
               </div>
               <div>
                  <div style="font-weight: bold; font-size: small;">
                     <u>วัตถุประสงค์ของการบริจาคโลหิต</u>
                  </div>
               </div>
               <div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label
                        for="vehicle1">บริจาคโลหิตทั่วไป ไม่ระบุชื่อ-สกุลผุ้ป่วย</label>
                  </div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">บริจาคโทดแทน (ให้ผู้ป่วยชื่อ-สกุล)</label>
                  </div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">บริจาคเกล็ดโลหิต</label>
                  </div>
               </div>
               <div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <hr class="solid">
               </div>
               <div>
                  <div class="row-layout">
                     <div >
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1" style="font-size: xx-small;">Autologous blood (บริจาคเพื่อใช้ในการผ่าตัดของตัวเองเท่านั้น)</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">unit1</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">unit2</label>
                     </div>
                  </div>
               </div>
               <div>
                  <input type="checkbox" id="NOproblemDonate" name="ไม่มีปัญหา" value="NOproblemDonate">
                  <label for="vehicle1">Direct donation (บริจาคเฉพาะเจาะจงให้ผู้ป่วยที่ระบุเท่านั้น)</label>
               </div>
               <div class="threeGrid">
                  <p>
                     ผู้ป่วยชื่อ-สกุล
                  </p>
                  <p>
                     H.N
                  </p>
                  <p>
                     หอผู้ป่วย
                  </p>
               </div>
               <div class="twoGrid">
                  <p>
                     ใช้วันที่
                  </p>
                  <p>
                     ความสัมพันธ์กับผู้ป่วย
                  </p>
               </div>
            </div>
            <div class="grid-item">
               <div>
                  <p style="text-align: center; font-weight: bold;">
                     <u>สำหรับผุ้บริจาคโลหิตกรอกข้อมูล</u>
                  </p>
               </div>
               <div class="twoGrid">
                  <p>
                     ความดันโลหิต
                  </p>
                  <p>
                     ชีพจร
                  </p>
               </div>
               <p>
                  Temp
               </p>
               <div>
                  <div class="row-layout">
                     <p>
                        ประวัติ
                     </p>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ได้</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ไม่ได้ ข้อ</label>
                     </div>
                  </div>
               </div>
               <p>
                  แพทย์ผู้ตรวจ/เจ้าหน้าที่
               </p>
               <div>
                  <br>
                  <div class="row-layout">
                     <p>
                        CuSO4
                     </p>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ผ่าน</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ไม่ผ่าน</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">Hb = </label>
                     </div>
                  </div>
               </div>
               <p>
                  เจ้าหน้าที่
               </p>
               <p>
                  ประวัติการบริจาคโลหิต ครั้งที่
               </p>
               <p>
                  หมายเลขบัตร
               </p>
               <p>
                  บริจาคครั้งที่แรกที่
               </p>
               <div>
                  <div class="row-layout">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ลืมบัตร</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">บัตรหาย</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ขอบัตรใหม่</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">รับประทานอาหาร/อาหารว่างก่อนเจาะ</label>
                  </div>
               </div>
               <div>
                  <br>
                  <div class="row-layout">
                     <p>
                        <u>ถุงโลหิต</u>
                     </p>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">350</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">450T</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">450Q</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="row-layout">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">Platepheresis</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">อื่นๆ</label>
                     </div>
                  </div>
               </div>
               <div class="twoGrid">
                  <p>
                     ผู้ลงทะเบียน
                  </p>
                  <p>
                     ผู้เตรียมถุง
                  </p>
               </div>
               <div>
                  <br>
                  <div class="twoGrid">
                     <p>
                        ผู้เจาะ
                     </p>
                     <p>
                        เวลา
                     </p>
                  </div>
               </div>
               <div class="twoGrid">
                  <p>
                     ผู้ off
                  </p>
                  <p>
                     เวลา
                  </p>
               </div>
               <div class="twoGrid">
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">Under volume</label>
                  </div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">High Volume</label>
                  </div>
               </div>
               <div class="twoGrid">
                <br>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">Fail venipuncture</label>
                  </div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">Discarded</label>
                  </div>
               </div>
               <div>
                  <hr class="solid">
               </div>
               <div>
                  <div class="row-layout">
                     <p>
                        Complication
                     </p>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">NO</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">code</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="row-layout" style="font-size: x-small;">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">level</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">mild</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">moderate</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">severe</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="row-layout">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">หน้ามืด เป็นลม</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ชักเกร็ง
                        </label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">อื่นๆ</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="row-layout">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ปรับศีรษะต่ำ ยกเท้าสูง</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ดมแอมโมเนีย</label>
                     </div>
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">เช็ดหน้าด้วยผ้าเย็น</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div>
                     <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                     <label for="vehicle1">ดื่มน้ำเปล่าว/หวาน</label>
                  </div>
               </div>
               <div>
                  <div style="font-size: small;">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">IV 0.9% NSS</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div style="font-size: small;">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">v/s ก่อนกลับ BP........mmHg PR.....min</label>
                     </div>
                  </div>
               </div>
               <div>
                  <div style="font-size: small;">
                     <div>
                        <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                        <label for="vehicle1">ส่ง ER</label>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </div>
      
    <!-- new page -->
      <br><div style="page-break-after:always;"></div>

      <div>
        <div>
            <div>
              <div style="font-weight: bold;">
                ใบกรอกประวัติผู้บริจาคโลหิต<br>
                หน่วยคลังเลือดและเวชศาสตร์บริการโลหิต
                <hr class="solid">
              </div>
            </div>
        </div>
        <div style="font-size: small;">
            <div>
                <p style="text-align: center; font-weight: bold;">
                กรุณาทำเครื่องหมายตามเป็นจริง
                </p>
            </div>
            <div>
           <p>
            <u>สุขภาพทั่วไป</u>
           </p>
            </div>
            <div>
            <p>
                1. ท่านรู้สึกสบายดี สุขภาพแข็งแรง พร้อมที่จะบริจาคโลหิต
            </p>
            </div>
            <div>
            <p>
               2. ท่านนอนหลับพักผ่อนเพียงพอ (ไม่น้อยกว่า 5 ชั่วโมง) 
            </p>
            </div>
            <div>
            <p>
                3. ท่านรับประทานอาหารที่มีไขมันสูง ภายใน 6 ชั่วโมงที่ผ่านมา   
            </p>  
            </div>
            <div>
            <p>
                4. ท่านมีโรคประจำตัว หรือเคยเป็นโรค (ระบุ)
            </p>   
            </div>
            <div>
            <p>
                5. ท่านรับประทานยาปฏิชีวนะ (ยาฆ่าเชื้อ) ภายใน 7 วันที่ผ่านมา
            </p>   
            </div>
            <div>
            <p>
                7. ท่านดื่มแอลกอฮอล์ภายใน 24 ชั่วโมงที่ผ่านมา
            </p>   
            </div>
            <div>
            <p>
                <u>ประวัติด้านเพศสัมพันธ์</u>
            </p>   
            </div>
            <div>
            <p>
                8. ท่าน/คู่ของท่านเคยมีพฤติกรรมเสี่ยงทางเพศ เช่น มีเพศสัมพันธ์กับผู้อื่น/ผู้ขายบริการ/ผู้เสพยาเสพติด
            </p>   
            </div>
            <div>
            <p>
                9. สำหรับผู้ชาย: ท่านเคยมีเพศสัมพันธ์กับชาย/ท่านชอบเพศเดียวกัน
            </p>   
            </div>
            <div>
            <p>
                <u>ประวัติความเสี่ยงของการติดเชื้อ</u>
            </p>   
            </div>
            <div>
            <p>
                10. ท่านมีไข้/ไอ/เจ็บคอ/น้ำมูก/ป่วยเป็นหวัด/ท้องเสีย/มีแแผลเปิด/ตากุ้งยิง ภายใน 7 วัน ที่ผ่านมา
            </p>   
            </div>
            <div>
            <p>
                11. ท่าน้ำหนักลดอย่างรวดเร็วในระยะ 3 เดือนที่ผ่านมา
            </p>   
            </div>
            <div>
            <p>
                12. ท่าปวดฟัน/อุดฟัน/ขูดหินปูนภายใน 3 วัน/รักษารากฟัน/ถอนฟัน/ผ่าฟันคุดภายใน 7 วันที่ผ่านมา
            </p>   
            </div>
            <div>
            <p>
                13. ท่านเจาะหุหรืออวัยวะอื่น/สัก/ลบรอยสัก/ฝังเข็ม ภายใน 4 เดือน ที่ผ่านมา
            </p>   
            </div>
            <div>
            <p>
                14. ท่านได้รับโลหิตหรือส่วนประกอบของโลหิต ภายในเวลา 1 ปี ที่ผ่านมา
            </p>   
            </div>
            <div>
            <p>
                15. ท่านเคยได้รับโลหิตหรือส่วนประกอบของโลหิต ภายในเวลา 1 ปี ที่ผ่านมา
            </p>   
            </div>
            <div>
            <p>
                16. ท่านหรือคนในครอบครัวของท่านเป็นโรคตับอักเสบ
            </p>   
            </div>
            <div>
            <p>
                17. ท่านเคยป่วย/สัมผัสใกล้ชิดกับผู้ป่วยเป็นโรคไข้หวัดใหญ่/โรคไข้เลือดออก/โรคชิคุนกุนยา/โรคไข้ซิกา/โรคโควิด-19 (ระบุ)
            </p>   
            </div>
            <div>
            <p>
                18. ท่านเดินทางไปในพท้นที่เสี่ยงของโรคระบาด (ระบุ)
            </p>   
            </div>
            <div>
            <p>
                19. ท่านได้รับวัคซีนป้องกันพิษสุนัขผ้าเนื่องจากถูกสัตว์กัด/ข่วน/หรือได้รับเซรุ่ม ภายใน 1 ปี
            </p>   
            </div>
            <div>
            <p>
                20. ท่านได้รับวัคซีนภายใน 2 เดิอน ที่ผ่านมา (ระบุชนิดและวันที่ได้รับ)
            </p>   
            </div>
            <div>
            <p>
                21. ท่านอยู่ในประเทศอังกฤษนานเกิน 6 เดือน ช่วง พ.ศ 2523-2539
            </p>   
            </div>
            <div>
            <p>
                22. ท่านเคยเป็นมาเลเรียภายใน 3 ปี หรือเข้าไปในพื้นที่มาลาเลรียชุกชุมภายในเวลา 1 ปีที่ผ่านมา
            </p>   
            </div>
            <div>
            <p>
                23. ท่านมีประวัติติดยาเสพติดหรือเพิ่งพ้นโทษภายใน 3 ปี ที่ผ่านมา
            </p>   
            </div>
            <div>
            <p>
             <u>เฉพาะสตรี</u>
            </p>
            </div>
            <div>
            <p>
                24. ท่านอยู่ระหว่างมีประจำเดือน/ตั้งครรภ์/คลอดบุตร/แท้งบุตร ภายใน 6 เดือน หรืออยู่ในระหว่างให้นมบุตร
            </p>   
            </div>
            <div>
            <hr class="solid">
            </div>
            <div style="font-size: small;">
            <div>
                ข้าพเจ้าขอรับรองว่าข้อมูลเป็นความจริง มั่นใจว่าโลหิตของข้าพเจ้าปลอดภัยต่อผู้ป่วยและรับทราบว่าก่อนนำไปใช้ในทางการแพทย์ โลหิตจะถูกตรวจเชื้อซิฟิลิส ไวรัสตับอักเสบบี ซี และเอดส์ ข้าพเจ้าขอบริจาคโลหิต
                ให้แก่ รพ.สงขลานครินทร์ เพื่อนำไปใช้ประโยชน์ตามแต่สมควร ด้วยความสมัครใจและไม่เรียกร้องหากเกิดกรณีใดๆ ทั้งสิ้น
            </div>
            </div>
            <div>
            <div class="row-layout">
                <div>
                    <div>
                        ข้าพเจ้า
                    </div>
                </div>
                <div>
                    <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                    <label for="vehicle1">ยินยอมให้เปิดเผยข้อมูลและหมู่โลหิตย่อยกับรพ.อื่น เพื่อนำไปใช้ประโยชน์กับผู้ป่วย</label>
                </div>
                <div>
                    <input type="checkbox" id="firstDonate" name="บริจาคโลหิตครั้งแรก" value="firstDonate">
                    <label for="vehicle1">ไม่ยินยอม ให้เปิดเผยข้อมูลและหมู่โลหิตย่อย</label>
                  </div>
    
            </div>
            </div>
        </div>

    </div>


   </body>
</html>